.navbar{
    color: black;
 }
 
 h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 100px;
    border-bottom: -100px;
    margin-bottom: -50px;
 }
 
 
 
 h2{
    text-align: center;
    border-top: -100px;
    margin-top: -50px;
 }
 
 
 
 .selfie {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
  }
 
  .row{
     padding: 50px;
  }
 
 .myName{
    font-size: 50px;
    font-weight: 600;
 }
 
 
 